.mercury{
    background-color: rgb(135, 154, 154);
}
.venus{
    background-color: rgb(240, 243, 161);
}
.earth{
    background-color: rgb(83, 134, 192);
}
.mars{
    background-color: rgb(188, 37, 3);
}
.jupiter{
    background-color: rgb(233, 128, 0);
}
.saturn{
    background-color: rgb(163, 128, 21);
}
.uranus{
    background-color: rgb(74, 212, 217);
}
.neptune{
    background-color: rgb(11, 7, 76);
}
