*{
    box-sizing: border-box;
}

body{
    background-image: url("https://i.giphy.com/media/TxVVB6PfWMjE4/200.webp");
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.container {
    border: 2px solid yellow;
    border-radius: 1rem;
    color: white;
    min-width: 50%;
    text-align: center;
    position: relative;
    width: 50%;
    height: 30%;
}

#button{
    border: 2px solid yellow;
    border-radius: 1rem;
    padding: 1em 2em;
    cursor: pointer;
    opacity: 0.5;
    transition: 300ms;
}

#button:hover{
    opacity: 1;
    transform: scale(1.05);
}



.hidden {
    display: none;
}

.show{
    display: block;
}

