.main {
    border: 1px solid black;
    background-color: blueviolet;
    font-size: 30px;
    /* & .inner {
        border: 1px solid black;
        background-color: chocolate;
        color: blanchedalmond;
} */

/* Nesting ex: taking .inner from below and adding it
into the main 
FYI: must go to HTML and add main into the inner class */

.inner {
    border: 1px solid black;
    background-color: chocolate;
    color: blanchedalmond;
    text-align: center;
}