* {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

#container {
    border: 1px solid black;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: darkgray;
    padding: 5px;
}



#sidebar {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
}



#sidebar .clear {
    grid-column: 1 / -1;
    padding: 0.5 rem;
}

#sidebar .clear button {
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    cursor: pointer;
}

.color {
    border: 1px solid black;
    cursor: pointer;
}

#main {
    display: grid;
    grid-template-columns: repeat(60, 1fr);
}


#main > * {
    border: 1px solid lightgrey;
    background-color: white;
}

/* .red {
    background-color: red;
}

.orangered{
    background-color: orangered;
}

.orange {
    background-color: orange;
}
.yellow {
    background-color: yellow;

}
.yellowgreen{
    background-color: yellowgreen;

}
.lightgreen{
    background-color: lightgreen;
}
.green {
    background-color: green;
}
.turquoise {
    background-color: turquoise;
}
.cyan{
    background-color: cyan;
}
.lightskyblue{
    background-color: lightskyblue;
}
.dodgerblue{
    background-color: dodgerblue;
}
.blue{
    background-color: blue;

}
.darkblue{
    background-color: darkblue;  
}
.indigo{
    background-color: indigo;
}
.darkmagenta{
    background-color: darkmagenta;
}
.violet{
    background-color: violet;  
}
.lightpink{
    background-color: lightpink; 
}
.lightgray{
    background-color: lightgray; 
}
.gray{
    background-color: gray;  
}
.black{
    background-color: black;  
}
.white{
    background-color: white;
} */

