body{
    background: linear-gradient(rgb(247, 70, 108), rgb(174, 31, 62));
    background-size: cover;
    height: 100vh;
    margin: 0;
}

ul{
    list-style: none;
    text-align: center;
}

 li{
display: flex;
align-items: center;
gap: 2px;

}

li* {
    margin: 0;
    padding: 0;
    position: relative;
}

li i{
    --width: 16px;
    width: var(--width);
    height: var(--width);
    cursor: pointer;
}

li*::before{
    position: absolute;
    inset: 0%;
    display: grid;
    place-items: center;
}


li.is-done{
    text-decoration: line-through;
}

p{
    text-align: center;
    font-size: 30px;
    font-family: Verdana, sans-serif;
    color: white;
}


div {
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    width: 30%;
  }






































  